header
{
    font-size: 10pt;
    font-family: Sans-Serif, serif;
}

.input-field
{
    padding: 5px 10px;
    margin-top: 20px;
    text-align: center;
}

#plot {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #000000;
}

.main-content{
    width: 60%;
    margin: 0 auto;
}

.main-content-elem {
    display: inline-block;
}

div #x-label {
    display: inline-list-item;
}

.x-value {
    width: 20px;
}