table
{
    color: #000000;
    margin: 0 auto;
}
table td
{
    font-family: tahoma, serif;
    border: solid #0080ff;
    text-align: center;
}
#var:hover
{
    color: #0000e6;
}
#const:hover
{
    color: #000000;
}